html {
  /* Scrollbar for document. */
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
}

* {
  box-sizing: border-box;
}

::selection, ::-moz-selection {
  color: var(--color-selection-font);
  background: var(--color-selection-background);
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background: var(--color-scrollbar-background);
}

::-webkit-scrollbar-track {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 0.25em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}

::-webkit-scrollbar-corner {
  background: var(--color-scrollbar-corner);
}

::-webkit-scrollbar-resizer {
  background: var(--color-scrollbar-resizer);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f0f2f5;
  color: #333;
}

a {
  color: #1855a2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.container {
  margin: 0 auto;
  max-width: 50em;
  padding: 0 1em;
}

header {
  color: #555;
  padding: 1em 0;
}

header h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

footer div.info {
  font-size: 1rem;
  text-align: center;
}

div.content {
  font-size: 1rem;
  padding: 1em;
}

ul.ups {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

a.up {
  position: relative;
  display: flex;
  font-size: 1.25rem;
  margin: 0.25em auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  background-color: #f7f7f7;
  border: 0.1em solid #ddd;
  border-radius: 0.5em;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}

a.up:hover {
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

a.up:active {
  top: 0.1em;
}

a.up img.avatar {
  border-radius: 0;
  flex: 0 0 auto;
  width: 5em;
}

a.up span.name {
  flex: 1 1 auto;
  font-size: 1rem;
  padding: 1em;
}

div.title img.avatar {
  width: 3em;
  border-radius: 50%;
}

a.video {
  position: relative;
  display: flex;
  margin: 1em auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  text-decoration: none;
  color: #333;
  background-color: #f7f7f7;
  border: 0.1em solid #ddd;
  border-radius: 0.5em;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

a.video:hover {
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

a.video:active {
  top: 0.1em;
}

img.video-thumb {
  flex: 0 0 auto;
  width: 30%;
}

div.video-info {
  flex: 1 1 auto;
  font-size: 1rem;
  padding: 1em;
}

div.video-title {
  padding: 0.5em 0;
}

div.video-created {
  font-size: 1rem;
  color: #888;
}

div.info {
  padding: 1em;
}
